# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# SQLite DB (created at runtime)
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Git
.git/
